<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增资料')" />
	<th:block th:include="include :: select2-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-media-add">
			<div class="form-group">
				<label for="themeId" class="col-sm-3 control-label">资料主题：</label>
				<div class="col-sm-8">
					<select id="themeId" name="themeId" class="form-control m-b">
						<option th:each="theme : ${themeSet}" th:text="${theme.themeName}" th:value="${theme.themeId}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color:red;">*</span>资料标题：</label>
				<div class="col-sm-8">
					<input id="mediaName" name="mediaName" class="form-control" type="text" maxlength="50" required>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">资料描述：</label>
				<div class="col-sm-8">
					<textarea id="mediaDesc" name="mediaDesc" class="form-control" maxlength="1000"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">链接地址：</label>
				<div class="col-sm-8">
					<input id="mediaLink" name="mediaLink" class="form-control" maxlength="500" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">显示顺序：</label>
				<div class="col-sm-8">
					<input id="mediaNum" name="mediaNum" class="form-control" type="number">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">资料状态：</label>
				<div class="col-sm-8">
					<div class="radio-box" th:each="dict : ${@dict.getType('sys_normal_disable')}">
						<input type="radio" th:id="${dict.dictCode}" name="mediaStatus" th:value="${dict.dictValue}" th:checked="${dict.isDefault == 'Y'}">
						<label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
					</div>
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: select2-js" />
    <script type="text/javascript">
		var prefix = ctx + "course/media";
		$("#form-media-add").validate({
			onkeyup: false,
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-media-add').serialize());
	        }
	    }
	</script>
</body>
</html>
