<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改资料')" />
	<th:block th:include="include :: select2-css" />
	<link th:href="@{/ajax/libs/layui/css/layui.css}" rel="stylesheet"/>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-media-edit" th:object="${media}">
            <input id="mediaId" name="mediaId" th:field="*{mediaId}"  type="hidden">
            <input id="mediaImage" name="mediaImage" type="hidden">
			<div class="form-group">
				<label for="themeId" class="col-sm-3 control-label">资料主题：</label>
				<div class="col-sm-8">
					<select id="themeId" name="themeId" class="form-control m-b">
						<option th:each="theme : ${themeSet}" th:text="${theme.themeName}" th:value="${theme.themeId}"
								th:selected="${media.themeId eq theme.themeId}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color:red;">*</span>资料标题：</label>
				<div class="col-sm-8">
					<input id="mediaName" name="mediaName" th:field="*{mediaName}" class="form-control" type="text" maxlength="50" required>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">资料描述：</label>
				<div class="col-sm-8">
					<textarea id="mediaDesc" name="mediaDesc" th:field="*{mediaDesc}" class="form-control" maxlength="1000"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">链接地址：</label>
				<div class="col-sm-8">
					<input id="mediaLink" name="mediaLink" th:field="*{mediaLink}" class="form-control" maxlength="500" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">显示顺序：</label>
				<div class="col-sm-8">
					<input id="mediaNum" name="mediaNum" th:field="*{mediaNum}" class="form-control" type="number">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">资料状态：</label>
				<div class="col-sm-8">
					<div class="radio-box" th:each="dict : ${@dict.getType('sys_normal_disable')}">
						<input type="radio" th:id="${dict.dictCode}" name="mediaStatus" th:value="${dict.dictValue}" th:field="*{mediaStatus}">
						<label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">资料图片：</label>
				<div class="col-sm-8 layui-upload">
					<button type="button" class="layui-btn" id="upload_file">上传图片</button><p id="show_text" style="float:right;"></p>
					<div class="layui-upload-list">
						<img class="layui-upload-img" id="img_list" style="width: 100%;" th:src="*{mediaImage}">
					</div>
				</div>
			</div>
		</form>
    </div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: select2-js" />
    <script type="text/javascript">
		var prefix = ctx + "course/media";
		$("#form-media-edit").validate({
			onkeyup: false,
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-media-edit').serialize());
	        }
	    }

		layui.use('upload', function() {
			var $ = layui.jquery
				, upload = layui.upload;
			//普通图片上传
			var uploadInst = upload.render({
				elem: '#upload_file'
				,url: ctx + "common/upload"
				,before: function (obj) {//预读本地文件示例，不支持ie8
					obj.preview(function (index, file, result) {
						$('#img_list').attr('src', result); //图片链接（base64）
					});
				}
				,done: function (res) {
					if (res.code > 0) {
						return layer.msg('上传失败！请刷新页面重试。');
					}
					$("#mediaImage").val(res.url);
					layer.msg('上传成功！请点击“确定”按钮保存信息。')
				}
				,error: function () {//失败状态，并实现重传
					var demoText = $('#show_text');
					demoText.html('<span style="color:#FF5722;">上传失败！</span> <a class="layui-btn upload-reload">重试</a>');
					demoText.find('.upload-reload').on('click', function () {
						uploadInst.upload();
					});
				}
			});
		});
	</script>
</body>
</html>
