<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head>
	<th:block th:include="include :: header('修改选择题')" />
	<th:block th:include="include :: select2-css" />
	<th:block th:include="course/summernote :: header" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
	<form class="form-horizontal m" id="form-choice-edit" th:object="${choice}">
		<input id="choiceId" name="choiceId" th:field="*{choiceId}"  type="hidden">
		<div class="form-group">
			<label class="col-sm-2 control-label">题目：</label>
			<div class="col-sm-9">
				<input id="choiceQuestion" name="choiceQuestion" th:field="*{choiceQuestion}" type="hidden">
				<div id="questionNote" class="summernote"></div>
				<label class="label-error"><i class="fa fa-times-circle"></i>&nbsp;必填</label>
			</div>
		</div>
		<div class="form-group">
			<label for="optionA" class="col-sm-2 control-label">选项A：</label>
			<div class="col-sm-9">
				<textarea id="optionA" name="optionA" th:field="*{optionA}" class="form-control"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label for="optionB" class="col-sm-2 control-label">选项B：</label>
			<div class="col-sm-9">
				<textarea id="optionB" name="optionB" th:field="*{optionB}" class="form-control"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label for="optionC" class="col-sm-2 control-label">选项C：</label>
			<div class="col-sm-9">
				<textarea id="optionC" name="optionC" th:field="*{optionC}" class="form-control"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label for="optionD" class="col-sm-2 control-label">选项D：</label>
			<div class="col-sm-9">
				<textarea id="optionD" name="optionD" th:field="*{optionD}" class="form-control"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label for="optionE" class="col-sm-2 control-label">选项E：</label>
			<div class="col-sm-9">
				<textarea id="optionE" name="optionE" th:field="*{optionE}" class="form-control"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label for="optionF" class="col-sm-2 control-label">选项F：</label>
			<div class="col-sm-9">
				<textarea id="optionF" name="optionF" th:field="*{optionF}" class="form-control"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label for="optionG" class="col-sm-2 control-label">选项G：</label>
			<div class="col-sm-9">
				<textarea id="optionG" name="optionG" th:field="*{optionG}" class="form-control"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label for="optionH" class="col-sm-2 control-label">选项H：</label>
			<div class="col-sm-9">
				<textarea id="optionH" name="optionH" th:field="*{optionH}" class="form-control"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label for="optionI" class="col-sm-2 control-label">选项 I：</label>
			<div class="col-sm-9">
				<textarea id="optionI" name="optionI" th:field="*{optionI}" class="form-control"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label for="choiceAnswer" class="col-sm-2 control-label">答案：</label>
			<div class="col-sm-9">
				<input id="choiceAnswer" name="choiceAnswer" th:field="*{choiceAnswer}" type="hidden">
				<select id="answerValue" name="answerValue" class="form-control m-b noselect2">
					<option value="A">A</option><option value="B">B</option>
					<option value="C">C</option><option value="D">D</option>
					<option value="E">E</option><option value="F">F</option>
					<option value="G">G</option><option value="H">H</option>
					<option value="I">I</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="choiceScore" class="col-sm-2 control-label">分值：</label>
			<div class="col-sm-9">
				<select id="choiceScore" name="choiceScore" class="form-control m-b noselect2" th:field="*{choiceScore}" th:value="*{choiceScore}">
					<option th:selected="${choiceScore eq 1}" value="1">1</option>
					<option th:selected="${choiceScore eq 2}" value="2">2</option>
					<option th:selected="${choiceScore eq 3}" value="3">3</option>
					<option th:selected="${choiceScore eq 4}" value="4">4</option>
					<option th:selected="${choiceScore eq 5}" value="5">5</option>
					<option th:selected="${choiceScore eq 10}" value="10">10</option>
				</select>
			</div>
		</div>
		<!--<div class="form-group">
            <label for="supportAnswer" class="col-sm-5 control-label">哪句话最能支持这个答案？</label>
            <div class="col-sm-6">
                <input id="supportAnswer" name="supportAnswer" th:field="*{supportAnswer}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label for="choiceLabel" class="col-sm-2 control-label">标签：</label>
            <div class="col-sm-9">
                <select id="choiceLabel" name="choiceLabel" class="form-control m-b noselect2" th:with="type=${@dict.getType('course_sub_label')}">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:selected="${choice.choiceLabel eq dict.dictValue}"></option>
                </select>
            </div>
        </div>-->
        <div class="form-group">
            <label class="col-sm-2 control-label">详解：</label>
            <div class="col-sm-9">
                <input id="choiceExplain" name="choiceExplain" th:field="*{choiceExplain}" type="hidden">
                <div id="explainNote" class="summernote"></div>
            </div>
        </div>
		<div class="form-group">
			<label class="col-sm-2 control-label">状态：</label>
			<div class="col-sm-9">
				<div class="radio-box" th:each="dict : ${@dict.getType('sys_normal_disable')}">
					<input type="radio" th:id="${dict.dictCode}" name="choiceStatus" th:value="${dict.dictValue}" th:field="*{choiceStatus}">
					<label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
				</div>
			</div>
		</div>
	</form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: select2-js" />
<th:block th:include="course/summernote :: footer(100)" />
<script type="text/javascript">
    var prefix = ctx + "course/choice";
    $("#choiceScore").select2({theme:'bootstrap',placeholder:'请选择答案分值'});
    var answerValue = $("#answerValue").val(null).select2({theme:'bootstrap',placeholder:'请选择答案（可多选）',multiple:true});
    var answer = $("#choiceAnswer").val();
    if($.common.isNotEmpty(answer)){
        answerValue.val(answer.split(",")).trigger("change");
    }
    $("#form-choice-edit").validate({
        onkeyup: false,
        rules:{
            optionA:{
                required:true,
                maxlength:500
            },
            optionB:{
                required:true,
                maxlength:500
            },
            optionC:{
                maxlength:500
            },
            optionD:{
                maxlength:500
            },
			optionE:{
				maxlength:500
			},
			optionF:{
				maxlength:500
			},
			optionG:{
				maxlength:500
			},
			optionH:{
				maxlength:500
			},
			optionI:{
				maxlength:500
			}
        },
        focusCleanup: true
    });

    function submitHandler() {
        var av = answerValue.val();
        if($.common.isNotEmpty(av)){
            $("#choiceAnswer").val(av.join(","));
        }
        var $questionNote = $("#questionNote");
        var isEmpty = $questionNote.summernote('isEmpty');
        if(isEmpty){
            $(".label-error", $questionNote.parent('div')).show();
        }
        if ($.validate.form() && isEmpty===false) {
            $("#choiceQuestion").val($questionNote.summernote('code'));
            var $explainNote=$("#explainNote");
            if($explainNote.summernote('isEmpty')===false){
                $("#choiceExplain").val($explainNote.summernote('code'));
            }
            $.operate.save(prefix + "/edit", $('#form-choice-edit').serialize());
        }
    }

    $(function(){
        var question = $("#choiceQuestion").val();
        $('#questionNote').summernote('code', question);
        var explain = $("#choiceExplain").val();
        $('#explainNote').summernote('code', explain);
    });
</script>
</body>
</html>
