<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('主题列表')" />
</head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								主题名称：<input type="text" name="themeName"/>
							</li>

							<li>
								主题类型：<select name="themeType" th:with="type=${@dict.getType('course_theme')}" style="width: 100px;">
								<option value="">所有</option>
								<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
							</select>
							</li>

							<li>
								主题状态：<select name="themeStatus" th:with="type=${@dict.getType('sys_normal_disable')}" style="width: 100px;">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="course:theme:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="course:theme:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="course:theme:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="course:theme:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('course:theme:edit')}]];
        var removeFlag = [[${@permission.hasPermi('course:theme:remove')}]];
		var disables = [[${@dict.getType('sys_normal_disable')}]];
		var themes = [[${@dict.getType('course_theme')}]];
        var prefix = ctx + "course/theme";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "主题",
				sortName: "themeNum",
                columns: [{
		            checkbox: true
		        },
				{
					field : 'themeId', 
					title : '主题编号',
					visible: false
				},
				{
					field : 'themeType',
					title : '主题类型',
					sortable: true,
					formatter: function(value, item, index) {
						return $.table.selectDictLabel(themes, value);
					}
				},
				{
					field : 'themeName', 
					title : '主题名称',
					sortable: true
				},
				{
					field : 'themeDesc', 
					title : '主题描述',
					sortable: true,
					formatter: function(value, row, index) {
						return $.table.tooltip(value);
					}
				},
				{
					field : 'themeNum', 
					title : '显示顺序',
					sortable: true
				},
				{
					field : 'themeStatus', 
					title : '主题状态',
					sortable: true,
					formatter: function(value, item, index) {
						return $.table.selectDictLabel(disables, value);
					}
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.themeId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.themeId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>