<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('考试列表')" />
	<th:block th:include="include :: layout-latest-css" />
	<th:block th:include="include :: ztree-css" />
</head>
<body class="gray-bg">
	<div class="ui-layout-west">
		<div class="box box-main">
			<div class="box-header">
				<div class="box-title">
					<i class="fa icon-grid"></i> 组织机构
				</div>
				<div class="box-tools pull-right">
					<a type="button" class="btn btn-box-tool menuItem" href="#" onclick="dept()" title="管理部门"><i class="fa fa-edit"></i></a>
					<button type="button" class="btn btn-box-tool" id="btnExpand" title="展开" style="display:none;"><i class="fa fa-chevron-up"></i></button>
					<button type="button" class="btn btn-box-tool" id="btnCollapse" title="折叠"><i class="fa fa-chevron-down"></i></button>
					<button type="button" class="btn btn-box-tool" id="btnRefresh" title="刷新部门"><i class="fa fa-refresh"></i></button>
				</div>
			</div>
			<div class="ui-layout-content">
				<div id="tree" class="ztree"></div>
			</div>
		</div>
	</div>
	<div class="container-div ui-layout-center">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<input type="hidden" id="termId" name="termId"/>
							<input type="hidden" id="releaseStatus" name="releaseStatus"/><!--选中父级节点，传递多个Id-->
							<li>
								考试名称：<input type="text" name="courseName"/>
							</li>

							<li>
								科目：<select name="subjectId" th:with="type=${@dict.getType('course_subject')}" style="width: 100px;">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>

							<li>
								审核状态：<select name="auditStatus" th:with="type=${@dict.getType('sys_audit_status')}" style="width: 100px;">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>

							<!--<li>
								发布状态：<select name="auditStatus" th:with="type=${@dict.getType('sys_release_status')}" style="width: 100px;">
								<option value="">所有</option>
								<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
							</select>
							</li>-->

							<li>
								考试状态：<select name="courseStatus" th:with="type=${@dict.getType('sys_normal_disable')}" style="width: 100px;">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add();" shiro:hasPermission="course:info:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="course:info:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="course:info:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<!--<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="course:info:export">
					<i class="fa fa-download"></i> 导出
				 </a>-->
				<a class="btn btn-info"  onclick="course.auditAll()" shiro:hasPermission="course:info:audit">
					<i class="fa fa-user"></i> 审核
				</a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
 	</div>
    <th:block th:include="include :: footer" />
 	<th:block th:include="include :: layout-latest-js" />
	<th:block th:include="include :: ztree-js" />
	<script th:src="@{/ajax/libs/qrcode/qrcode.min.js}"></script>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('course:info:edit')}]];
        var removeFlag = [[${@permission.hasPermi('course:info:remove')}]];
        var auditFlag = [[${@permission.hasPermi('course:info:audit')}]];
		//var subjects = [[${@dict.getType('course_subject')}]];
		var yesOrNo = [[${@dict.getType('sys_yes_no')}]];
		var audits = [[${@dict.getType('sys_audit_status')}]];
		//var releases = [[${@dict.getType('sys_release_status')}]];
		var disables = [[${@dict.getType('sys_normal_disable')}]];
        var prefix = ctx + "course/info", auditUrl = prefix + "/audit";
        $(function() {
			var panehHidden = false;
			if ($(this).width() < 769) {
				panehHidden = true;
			}
			$('body').layout({initClosed: panehHidden, west__size: 185 });
			queryDeptTree();//查询树列表
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "试卷",
                showPageGo: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'courseId', 
					title : '试卷编号',
					visible: false
				},
				{
					field : 'themeName',
					title : '试卷主题',
					sortable: true
				},
				{
					field : 'courseName', 
					title : '试卷名称',
					sortable: true,
					formatter: function(value, row, index) {
						return $.common.linkTip(row.courseId, value);
					}
				},
				/*{
					field : 'subjectId',
					title : '试卷科目 ',
					sortable: true,
					formatter: function(value, item, index) {
						return $.table.selectDictLabel(subjects, value);
					}
				},*/
				{
					field : 'stickyStatus',
					title : '置顶状态 ',
					sortable: true,
					formatter: function(value, item, index) {
						return $.table.selectDictLabel(yesOrNo, value);
					}
				},
				{
					field : 'auditStatus', 
					title : '审核状态 ',
					sortable: true,
					formatter: function(value, item, index) {
						return $.table.selectDictLabel(audits, item.auditStatus);
					}
				},
				/*{
					field : 'releaseTime', 
					title : '发布时间',
					sortable: true
				},
				{
					field : 'releaseStatus',
					title : '发布状态 ',
					sortable: true,
					formatter: function(value, item, index) {
						return $.table.selectDictLabel(releases, value);
					}
				},*/
				{
					field : 'courseStatus', 
					title : '试卷状态 ',
					sortable: true,
					formatter: function(value, item, index) {
						return $.table.selectDictLabel(disables, item.courseStatus);
					}
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [], courseId = row.courseId, courseName = row.courseName, status = row.auditStatus, dis="",
							auditClick='onclick="course.audit(\'' + courseId +'\', \''+ courseName +'\', \''+ status +'\')"';
		            	/*if(row.releaseStatus=="1"){
							dis = "disabled";	auditClick = "";
						}*/
						actions.push('<a class="btn btn-info btn-xs ' + editFlag + '" href="#" data-id="'+ courseId +'"><i class="fa fa-qrcode"></i>预览</a> ');
						actions.push('<a class="btn btn-primary btn-xs ' + editFlag + '" href="#" onclick="course.goContent(\'' + courseId +'\', \''+ courseName +'\')"><i class="fa fa-list-ul"></i>题目管理</a> ');
						actions.push('<a class="btn btn-warning btn-xs '+ dis +" "+ auditFlag +'" href="#" '+auditClick+'><i class="fa fa-user"></i>'+(status=="1"?"取消":"通过")+'审核</a> ');
						actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + courseId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
						actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + courseId + '\')"><i class="fa fa-remove"></i>删除</a> ');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
			var qrcode = null, wechat_url=[[${@config.getKey('sys.wechat.url')}]];
			var $table = $("#bootstrap-table");
			$table.on('mouseenter', '.btn-info', function(){
				var $id = $(this).attr("data-id"), divId="qrcode"+Math.random();
				layer.tips('<div id="'+divId+'"></div>', this, {
					tips: [3, '#fff'],time: 0,
					success:function () {
						qrcode = new QRCode(divId, {
							width: 128, height: 128,
							text:wechat_url+'course/'+$id
						});
					}
				});
			});
			$table.on('mouseleave', '.btn-info', function(){
				qrcode.clear();
				layer.closeAll('tips');
			});
			var termId = [[${termId}]];
			if($.common.isNotEmpty(termId)){
				setTimeout(function() {
					var tree = $.fn.zTree.getZTreeObj("tree");
					var node = tree.getNodesByParam("id", termId, null)[0];
					if(node == null)	return;//没有找到对应的节点的情况
					$.tree.selectByIdName(termId, node);
					var setting = tree.setting;
					setting.callback.onClick(null, setting.treeId, node);//触发选中节点的click事件
				}, 500);
			}
			$table.on("click", '.tooltip-show', function () {
				$(this).parents("tr").find("a.btn-primary").click();
			});
        });
		function queryDeptTree()
		{
			var url = ctx + "course/term/selectTree";
			var options = {
				url: url,
				expandLevel: 2,
				onClick : zOnClick
			};
			$.tree.init(options);
			function zOnClick(event, treeId, treeNode) {
				$("#termId").val(treeNode.id);
				$.table.search();
			}
		}

		$('#btnExpand').click(function() {
			$._tree.expandAll(true);
			$(this).hide();
			$('#btnCollapse').show();
		});

		$('#btnCollapse').click(function() {
			$._tree.expandAll(false);
			$(this).hide();
			$('#btnExpand').show();
		});

		$('#btnRefresh').click(function() {
			$("#termId,#releaseStatus").val("");
			queryDeptTree();
		});

		/* 考试管理-部门 */
		function dept() {
			var url = ctx + "system/dept";
			$.modal.openTab("部门管理", url);
		}
    </script>
	<th:block th:include="course/summernote :: audit-js" />
</body>
</html>