<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('考试列表')" />
    <th:block th:include="include :: layout-latest-css" />
    <th:block th:include="include :: ztree-css" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <input type="hidden" id="termId" name="termId" th:value="${termId}"/>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var prefix = ctx + "course/term";
    var termId = $("#termId").val();
    $(function() {
        var options = {
            url: prefix + "/termCourseList/" + termId,
            queryParams: queryParams,
            modalName: "培训班成绩",
            columns: [
                {
                    field : 'termId',
                    title : '培训班编号',
                    visible: false,
                    sortable: false
                },
                {
                    field : 'courseId',
                    title : '试卷编号',
                    visible: false
                },
                {
                    field : 'termTitle',
                    title : '培训班名称',
                    sortable: false
                },
                {
                    field : 'courseName',
                    title : '试卷名称',
                    sortable: true
                },
                {
                    field : 'completePercent',
                    title : '完成比例 ',
                    sortable: true,
                    formatter:function (value, row, index) {
                        return value*100 + '%';
                    }
                },
                /*{
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [], courseId = row.courseId, courseName = row.courseName, status = row.auditStatus, dis="";

                        actions.push('<a class="btn btn-success btn-xs" href="#" onclick="$.operate.edit(\'' + courseId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        return actions.join('');
                    }
                }*/]
        };
        $.table.init(options);
    });

    function queryParams(params) {
        return {
            termId:         $("#termId").val(),
            pageSize:       params.limit,
            pageNum:        params.offset / params.limit + 1,
            orderByColumn:  params.sort,
            isAsc:          params.order
        };
    }
    function percentSort(a, b){
        var value_a = a.substring(0, a.lenght -1);
        var value_b = b.substring(0, b.lenght -1);
        return value_b-value_a;
    }
</script>
</body>
</html>