<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head>
	<th:block th:include="include :: header('添加填空题')" />
	<th:block th:include="include :: select2-css" />
	<th:block th:include="course/summernote :: header" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
	<form class="form-horizontal m" id="form-fill-add">
		<th:block th:include="course/summernote :: form-input" />
		<div class="form-group">
			<label class="col-sm-2 control-label">题目：</label>
			<div class="col-sm-9">
				<input id="fillQuestion" name="fillQuestion" type="hidden">
				<div id="questionNote" class="summernote"></div>
				<label class="label-error"><i class="fa fa-times-circle"></i>&nbsp;必填</label>
			</div>
		</div>
		<div class="form-group">
			<label for="fillAnswer" class="col-sm-2 control-label">答案：</label>
			<div class="col-sm-9">
				<textarea id="fillAnswer" name="fillAnswer" class="form-control" required></textarea>
				<!--<input id="fillAnswer" name="fillAnswer" type="hidden">
                <div id="answerNote" class="summernote"></div>
                <label class="label-error"><i class="fa fa-times-circle"></i>&nbsp;必填</label>-->
			</div>
		</div>
		<div class="form-group">
			<label for="fillScore" class="col-sm-2 control-label">分值：</label>
			<div class="col-sm-9">
				<select id="fillScore" name="fillScore" class="form-control m-b noselect2">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="8">8</option>
					<option value="10">10</option>
				</select>
			</div>
		</div>
		<!--<div class="form-group">
            <label for="supportAnswer" class="col-sm-5 control-label">哪句话最能支持这个答案？</label>
            <div class="col-sm-6">
                <input id="supportAnswer" name="supportAnswer" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label for="fillLabel" class="col-sm-2 control-label">标签：</label>
            <div class="col-sm-9">
                <select id="fillLabel" name="fillLabel" class="form-control m-b" th:with="type=${@dict.getType('course_sub_label')}">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>-->
        <div class="form-group">
            <label class="col-sm-2 control-label">详解：</label>
            <div class="col-sm-9">
                <input id="fillExplain" name="fillExplain" type="hidden">
                <div id="explainNote" class="summernote"></div>
            </div>
        </div>
		<div class="form-group">
			<label class="col-sm-2 control-label">状态：</label>
			<div class="col-sm-9">
				<div class="radio-box" th:each="dict : ${@dict.getType('sys_normal_disable')}">
					<input type="radio" th:id="${dict.dictCode}" name="fillStatus" th:value="${dict.dictValue}" th:checked="${dict.isDefault == 'Y' ? true : false}">
					<label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
				</div>
			</div>
		</div>
	</form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: select2-js" />
<th:block th:include="course/summernote :: footer(100)" />
<th:block th:include="course/summernote :: form-value" />
<script type="text/javascript">
    var prefix = ctx + "course/fill";
    $("#fillScore").val(null).select2({theme:'bootstrap',placeholder:'请选择答案分值'});
    $("#form-fill-add").validate({
        onkeyup: false,
        focusCleanup: true
    });

    function submitHandler() {
        var $questionNote = $("#questionNote");
        var isQuestion = $questionNote.summernote('isEmpty');
        if(isQuestion){
            $(".label-error", $questionNote.parent('div')).show();
        }
        /*var $answerNote = $("#answerNote");
        var isAnswer = $answerNote.summernote('isEmpty');
        if(isAnswer){
            $(".label-error", $answerNote.parent('div')).show();
        }*/
        if($.validate.form() && isQuestion===false/* && isAnswer===false*/){
            $("#fillQuestion").val($questionNote.summernote('code'));
            /*$("#fillAnswer").val($answerNote.summernote('code'));*/
            var $explainNote=$("#explainNote");
            if($explainNote.summernote('isEmpty')===false){
                $("#fillExplain").val($explainNote.summernote('code'));
            }
            $.operate.save(prefix + "/add", $('#form-fill-add').serialize());
        }
    }
</script>
</body>
</html>
