<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('问卷调查列表')" />
    <th:block th:include="include :: select2-css" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <span>培训班名称：</span>
                            <select id="courseId" name="courseId" class="form-control m-b">
                                <option th:each="info:${infoList}" th:value="${info.courseId}" th:text="${info.courseName}"></option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-warning" onclick="$.table.exportExcel()"><i class="fa fa-download"></i>导出</a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: select2-js" />
<script th:inline="javascript">
    var prefix = ctx + "course/survey";

    $(function() {
        $('#termId').select2();

        var options = {
            url: prefix + "/list",
            exportUrl: prefix + "/export",
            queryParams: locationQueryParams,
            modalName: "问卷调查",
            pagination:false,
            height:$(window).height()*0.79,
            columns: [
                {
                    field : 'id',
                    title : '题目号'
                },
                {
                    field : 'answer',
                    title : '答案'
                },
                {
                    field : 'num',
                    title : '人数'
                }]
        };
        $.table.init(options);

        $(window).resize(function() {
            $("#bootstrap-table").bootstrapTable("resetView",{
                height: $(window).height()*0.84
            });
        });
    });

    function locationQueryParams(params) {
        var search = $.table.queryParams(params);
        search.courseId = $("#courseId").val();
        return search;
    }
</script>
</body>
</html>