<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head>
	<th:block th:include="include :: header('添加判断题')" />
	<th:block th:include="include :: select2-css" />
	<th:block th:include="course/summernote :: header" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
	<form class="form-horizontal m" id="form-judge-add">
		<th:block th:include="course/summernote :: form-input" />
		<div class="form-group">
			<label class="col-sm-2 control-label">题目：</label>
			<div class="col-sm-9">
				<input id="judgeQuestion" name="judgeQuestion" type="hidden">
				<input id="judgeAnswer" name="judgeAnswer" type="hidden">
				<div id="questionNote" class="summernote"></div>
				<label class="label-error"><i class="fa fa-times-circle"></i>&nbsp;必填</label>
			</div>
		</div>
		<div th:each="i:${#numbers.sequence(1,4)}">
			<div class="form-group">
				<label class="col-sm-2 control-label">[[${i}]]：</label>
				<div class="col-sm-9">
					<textarea th:id="'option'+${i}" class="form-control" required></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">答案：</label>
				<div class="col-sm-9">
					<div class="radio-box" th:each="dict : ${@dict.getType('course_yes_no')}">
						<input type="radio" th:id="${dict.dictCode}+'_'+${i}" th:name="'answer_'+${i}" th:value="${dict.dictValue}" th:checked="${dict.isDefault == 'Y' ? true : false}">
						<label th:for="${dict.dictCode}+'_'+${i}" th:text="${dict.dictLabel}"></label>
					</div>
				</div>
				<input th:id="'support'+${i}" class="form-control" type="hidden">
				<!--<label class="col-sm-4 control-label">哪句话最能支持这个答案？</label>
                <div class="col-sm-2">
                    <input th:id="'support'+${i}" class="form-control" type="hidden">
                </div>-->
			</div>
		</div>
		<!--<div class="form-group">
            <label for="judgeLabel" class="col-sm-2 control-label">标签：</label>
            <div class="col-sm-9">
                <select id="judgeLabel" name="judgeLabel" class="form-control m-b" th:with="type=${@dict.getType('course_sub_label')}">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>-->
        <div class="form-group">
            <label class="col-sm-2 control-label">详解：</label>
            <div class="col-sm-9">
                <input id="judgeExplain" name="judgeExplain" type="hidden">
                <div id="explainNote" class="summernote"></div>
            </div>
        </div>
		<div class="form-group">
			<label for="judgeScore" class="col-sm-2 control-label">分值：</label>
			<div class="col-sm-9">
				<select id="judgeScore" name="judgeScore" class="form-control m-b noselect2">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="10">10</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">状态：</label>
			<div class="col-sm-9">
				<div class="radio-box" th:each="dict : ${@dict.getType('sys_normal_disable')}">
					<input type="radio" th:id="${dict.dictCode}" name="judgeStatus" th:value="${dict.dictValue}" th:checked="${dict.isDefault == 'Y' ? true : false}">
					<label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
				</div>
			</div>
		</div>
	</form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: select2-js" />
<th:block th:include="course/summernote :: footer(100)" />
<th:block th:include="course/summernote :: form-value" />
<script type="text/javascript">
    var prefix = ctx + "course/judge";
    $("#judgeScore").val(null).select2({theme:'bootstrap',placeholder:'请选择答案分值'});
    $("#form-judge-add").validate({
        onkeyup: false,
        focusCleanup: true
    });

    function submitHandler() {
        var $questionNote = $("#questionNote");
        var isEmpty = $questionNote.summernote('isEmpty');
        if(isEmpty){
            $(".label-error", $questionNote.parent('div')).show();
        }
        if ($.validate.form() && isEmpty===false) {
            $("#judgeQuestion").val($questionNote.summernote('code'));
            var $explainNote=$("#explainNote");
            if($explainNote.summernote('isEmpty')===false){
                $("#judgeExplain").val($explainNote.summernote('code'));
            }
            var json = [];//处理多判断题json
            for (var i = 1; i <=4 ; i++) {
                var option = $("#option"+i).val();
                var answer = $("input[name='answer_"+i+"']:checked").val();
                var support = $("#support"+i).val();
                if($.common.isNotEmpty(option)){
                    json.push({"option":option, "answer":answer, "support":support});
                }
            }
            if(json.length > 0){
                $("#judgeAnswer").val(JSON.stringify(json));
            }
            $.operate.save(prefix + "/add", $('#form-judge-add').serialize());
        }
    }
</script>
</body>
</html>
