<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head>
	<th:block th:include="include :: header('修改课程')" />
	<th:block th:include="include :: select2-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-info-edit" th:object="${info}">
            <input id="courseId" name="courseId" th:field="*{courseId}"  type="hidden">
			<input id="termId" name="termId" th:field="*{termId}" type="hidden">
			<!--<th:block th:include="course/tags :: tags-html('deptName', '组织机构', 'required')" />-->
			<div class="form-group">
				<label class="col-sm-3 control-label"><span style="color:red;">*</span>组织机构：</label>
				<div class="col-sm-8">
					<div class="input-group">
						<input name="deptName" onclick="selectDeptTree()" id="treeName" type="text" autocomplete="off"
							   placeholder="请选择组织机构" class="form-control" required th:field="${term.termTitle}">
						<span class="input-group-addon" onclick="selectDeptTree()" style="cursor:pointer;"><i class="fa fa-search"></i></span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="courseName" class="col-sm-3 control-label"><span style="color:red;">*</span>试卷名称：</label>
				<div class="col-sm-8">
					<input id="courseName" name="courseName" th:field="*{courseName}" class="form-control" type="text" required maxlength="50">
				</div>
			</div>
			<div class="form-group">
				<label for="courseNum" class="col-sm-3 control-label">试卷主题：</label>
				<div class="col-sm-8">
					<select id="courseNum" name="courseNum" class="form-control m-b">
						<option th:each="theme : ${themeSet}" th:text="${theme.themeName}" th:value="${theme.themeId}" th:selected="${info.courseNum eq theme.themeId}"></option>
					</select>
				</div>
			</div>
			<!--<div class="form-group">
				<label for="subjectId" class="col-sm-3 control-label">试卷科目：</label>
				<div class="col-sm-8">
					<select id="subjectId" name="subjectId" class="form-control m-b" th:with="type=${@dict.getType('course_subject')}">
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:selected="${info.subjectId eq dict.dictValue}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>-->
			<div class="form-group">
				<label class="col-sm-3 control-label">答题成绩：</label>
				<div class="col-sm-8">
					<div class="radio-box" th:each="dict : ${@dict.getType('sys_show_hide')}">
						<input type="radio" th:id="${dict.dictCode}" name="releaseStatus" th:value="${dict.dictValue}" th:field="*{releaseStatus}" >
						<label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
					</div>
				</div>
			</div>
			<!--<div class="form-group">
				<label for="releaseTime" class="col-sm-3 control-label">发布时间：</label>
				<div class="col-sm-8">
					<input id="releaseTime" name="releaseTime" class="form-control time-input"
						   th:value="*{#dates.format(releaseTime, 'yyyy-MM-dd HH:mm:ss')}"
						   data-type="datetime" data-format="yyyy-MM-dd HH:mm:ss" type="text">
				</div>
			</div>-->
			<div class="form-group">
				<label class="col-sm-3 control-label">置顶状态：</label>
				<div class="col-sm-8">
					<div class="radio-box" th:each="dict : ${@dict.getType('sys_yes_no')}">
						<input type="radio" th:id="${dict.dictCode}" name="stickyStatus" th:value="${dict.dictValue}" th:field="*{stickyStatus}">
						<label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
					</div>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">试卷状态：</label>
				<div class="col-sm-8">
					<div class="radio-box" th:each="dict : ${@dict.getType('sys_normal_disable')}">
						<input type="radio" th:id="${dict.dictCode}" name="courseStatus" th:value="${dict.dictValue}" th:field="*{courseStatus}">
						<label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="passingScore" class="col-sm-3 control-label">合格分数：</label>
				<div class="col-sm-8">
					<input type="number" id="passingScore" name="passingScore" th:field="*{passingScore}" required maxlength="3">
				</div>
			</div>
		</form>
    </div>
    <th:block th:include="include :: footer" />
	<th:block th:include="include :: select2-js" />
	<!--<th:block th:include="course/tags :: tags-js('deptName', '组织机构', 'course/info/selectTermTree', ${info?.termId}, ${termTitle})" />-->
    <script type="text/javascript">
		var prefix = ctx + "course/info";
		$("#form-info-edit").validate({
			onkeyup: false,
			focusCleanup: true
		});

		function selectDeptTree() {
			var tId = $("#termId").val();
			var termId = $.common.isEmpty(tId) ? "-100" : tId;
			var url = prefix +"/selectTermTree/" + termId;
			var options = {
				title: '选择组织机构',
				width: "380",
				url: url,
				callBack: function(index, layero){
					var tree = layero.find("iframe")[0].contentWindow.$._tree;
					//if ($.tree.notAllowParents(tree)) {
						var body = layer.getChildFrame('body', index);
						$("#termId").val(body.find('#treeId').val());
						$("#treeName").val(body.find('#treeName').val());
						layer.close(index);
					//}
				}
			};
			$.modal.openOptions(options);
		}
		
		function submitHandler() {
	        if ($.validate.form()) {
				/*let tagsSet = [{id:'deptName', name:'termId'}];
				getSelectTags(tagsSet);*/
	            $.operate.save(prefix + "/edit", $('#form-info-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
