<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('成绩列表')" />
</head>
<body class="gray-bg">
	<div class="container-div ui-layout-center">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<input type="hidden" id="customerId" name="customerId" th:value="${userId}">
					<div class="select-list">
						<ul>
							<li>
								考试名称：<input type="text" name="courseName"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
 	</div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "course/info";
		var queryParams = function(params) {
			return {
				customerId:		$("#customerId").val(),
				pageSize:       params.limit,
				pageNum:        params.offset / params.limit + 1,
				searchValue:    params.search,
				orderByColumn:  params.sort,
				isAsc:          params.order
			};
		};
        $(function() {
            var options = {
                url: prefix + "/progress",
                modalName: "成绩列表",
				sortName: "auditTime",
				sortOrder: "desc",
				queryParams: queryParams,
                columns: [
				{
					field : 'courseId', 
					title : '试卷编号',
					visible: false
				},
				{
					field : 'courseName', 
					title : '试卷名称',
					sortable: true,
					formatter: function(value, row, index) {
						return $.table.tooltip(value);
					}
				},
				{
					field : 'auditTime',
					title : '发布时间',
					sortable: true
				},
				{
					field : 'createTime',
					title : '考试时间',
					sortable: true
				},
				{
					field : 'answerRate',
					title : '答题正确率',
					sortable: true,
					formatter: function(value, row, index) {
						return value +"%";
					},
					align: 'center'
				},
				{
					field : 'readTimeTxt',
					title : '考试用时',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
						var actions = [];
						actions.push('<a class="btn btn-warning btn-xs" href="#" ' +
							'onclick="goDetail(\''+ row.courseId +'\',\''+ row.customerId +'\')"><i class="fa fa-search"></i>查看历史成绩</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
		var goDetail = function(courseId, customerId){
			var url = prefix + "/detail/"+ courseId +"/"+ customerId;
			$.modal.open('查看历史成绩', url);
		}
    </script>
</body>
</html>